<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace = "fragments::header">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="fragments::sidebar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments::topbar"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div th:if="${success}" class="handle-success-message mt-2 mb-2">
                    <span id="message-success" th:text="${success}"></span>
                </div>

                <div th:if="${failed}" class="handle-error-message mt-2 mb-2">
                    <span id="message-failed" th:text="${failed}"></span>
                </div>
                        <!--/*@thymesVar id="customer" type=""*/-->
                        <form th:action="@{/save-product}" method="POST" enctype="multipart/form-data" th:object="${productDto}">
                            <div class="row mt-2">
                                <div class="col-md-4 ml-2">
                                    <h2 style="font-size: 35px; font-weight: bold" >ADD PRODUCT</h2>
                                </div>
                            </div>
                            <div class="row mt-2 ml-2">
                                <div class="col-md-4">
                                    <label for="productName">Product Name</label>
                                    <input type="text" class="form-control" th:field="*{productName}" name="productName"
                                           id="productName"
                                           value="">
                                </div>

                                <div class="col-md-4">
                                    <label for="categories">Category</label>
                                    <select id="categories" th:field="*{category}" class="form-control" name="category">
                                        <option th:value="null">-SELECT-</option>
                                        <option th:each="category : ${categories}"
                                            th:value= "${category.id}"
                                            th:text="${category.categoryName}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mt-4 ml-2">
                                <div class="col-md-4">
                                    <label for="productQuantity">Product Quantity</label>
                                    <input type="text" class="form-control" th:field="*{currentQuantity}" name="currentQuantity"
                                           id="productQuantity" value="">
                                </div>

                                <div class="col-md-4">
                                    <label for="productCompanyName">Product Company Name</label>
                                    <input type="text" class="form-control" th:field="*{productCompanyName}"
                                           name="productCompanyName"
                                           id="productCompanyName" value="">
                                </div>
                            </div>

                            <div class="row mt-4 ml-2">
                                <div class="col-md-4">
                                    <label for="productPrice">Product Cost Price</label>
                                        <input type="text" class="form-control" th:field="*{costPrice}" name="productPrice"
                                    id="productPrice"
                                               placeholder="Product Cost Price">
                                </div>
                                <div class="col-md-4">
                                    <label for="salesPrice">Product Sales Price</label>
                                    <input type="text" class="form-control" th:field="*{salesPrice}"  name="salesPrice"
                                    id="salesPrice"
                                    value=""
                                           placeholder="Product Sales Price">
                                </div>
                            </div>

                            <div class="row mt-4 ml-2">
                                <div class="col-md-4">
                                    <label>Product Image</label>
                                    <input class="form-control form-control-lg" name="image" accept="image/*" type="file" />
                                </div>
                                <div class="col-md-4">
                                    <label for="productDescription">Product Description</label>
                                    <textarea class="form-control" type="text"
                                              name="description"
                                              placeholder="Description here"
                                              id="productDescription"
                                    ></textarea>
                                </div>
                            </div>
                            <div class="row mt-4 ml-2">
                                <div class="col-2">
                                    <input type="submit" class="btn btn-primary" value="Save">
                                </div>
                            </div>
                            <input type="hidden" name="imageName" th:value="${productDto.image}">
                        </form>
                    </div>

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

<!--&lt;!&ndash;    Add New Modal&ndash;&gt;-->
<!--    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--        <form th:action="@{/add-category}" method="POST" th:object="${categoryNew}" onsubmit="return validateCategory()">-->
<!--            <div class="modal-dialog" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="exampleModalLabel">New Category</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->

<!--                            <div class="form-group">-->
<!--                                <label for="categoryName" class="col-form-label">Name:</label>-->
<!--                                <input type="text" class="form-control" name="categoryName" id="categoryName" th:field=-->
<!--                                        "*{categoryName}"-->
<!--                                       value="">-->
<!--                                <span id="categoryName-error" style="color: red"></span>-->
<!--                            </div>-->

<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                        <button type="submit" class="btn btn-primary">Save</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->



<!--    &lt;!&ndash;    Change Name Category Modal&ndash;&gt;-->
<!--    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalExample" aria-hidden="true">-->
<!--        <form>-->
<!--            <div class="modal-dialog" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title">Edit Category</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->

<!--                        <div class="form-group">-->
<!--                            <label for="editCategoryName" class="col-form-label">Name:</label>-->
<!--                            <input type="text" class="form-control" name="categoryName" id="editCategoryName">-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                        <button type="submit" class="btn btn-primary">Update</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <input type="hidden" th:field="*{id}">-->
<!--        </form>-->
<!--    </div>-->

    <!-- Logout Modal-->
  <div th:replace="fragments::logoutModal"></div>

    <div th:replace="fragments:: script"></div>

    <script type="text/javascript">
        setTimeout(function (){
           var successMessage = document.getElementById("message-success");
           const errorMessage = document.getElementById("message-failed");
           successMessage.parentNode.removeChild(successMessage);
           errorMessage.parentNode.removeChild(errorMessage);
        },3000);
    </script>

    <script type="text/javascript" th:src="@{js/category.js}"></script>
</body>

</html>