<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace = "fragments::header">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="fragments::sidebar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments::topbar"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div th:if="${size == 0}">
                        <p>No Category</p>
                    </div>
                    <a th:href="@{/add-category}" class="btn btn-primary mb-2">Add New Category
                    </a>
                        <div th:if="${success}" class="handle-success-message mt-2 mb-2">
                            <span id="message-success" th:text="${success}"></span>
                        </div>

                        <div th:if="${failed}" class="handle-error-message mt-2 mb-2">
                            <span id="message-failed" th:text="${failed}"></span>
                        </div>
                    <table class="table table-striped" th:if = "${size > 0}">
                        <thead>
                        <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="category : ${categoriesList}">
                                <td th:text="${categoryStat.index + 1}"></td>
                                <td th:text="${category.categoryName}"></td>
                                <td class="text-lg-left">
                                    <a th:href="@{/edit-category(id=${category.id})}"><input type="submit" class="btn btn-primary" value="Edit"></a>
                                    <a th:if="${category.isActivated} == true"
                                       th:href="@{/delete-category(id=${category.id})}"><input type="submit" class="btn btn-danger" value="Delete"></a>
                                    <a th:if="${category.isActivated} == false" th:href="@{/enable-category(id=${category.id})}"><input type="submit" class="btn btn-warning" value="Enable"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

<!--    Add New Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form th:action="@{/add-category}" method="POST" th:object="${categoryNew}" onsubmit="return validateCategory()">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                            <div class="form-group">
                                <label for="categoryName" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" name="categoryName" id="categoryName" th:field=
                                        "*{categoryName}"
                                       value="">
                                <span id="categoryName-error" style="color: red"></span>
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <!--    Change Name Category Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalExample" aria-hidden="true">
        <form>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="editCategoryName" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" name="categoryName" id="editCategoryName">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
            <input type="hidden" th:field="*{id}">
        </form>
    </div>

    <!-- Logout Modal-->
  <div th:replace="fragments::logoutModal"></div>

    <div th:replace="fragments:: script"></div>

    <script type="text/javascript">
        setTimeout(function (){
            var successMessage = document.getElementById("message-success");
            var errorMessage = document.getElementById("message-failed");
            successMessage.parentNode.removeChild(successMessage);
            errorMessage.parentNode.removeChild(errorMessage);
        },3000);
    </script>

    <script type="text/javascript" th:src="@{js/category.js}"></script>
</body>

</html>